{% extends 'user_dashboard.html' %}
{% load static %}
{% block content %}

 <!-- side nav -->

{% if request.user.is_authenticated and request.user.is_staff %}
 {% include 'partials/admin_sidebar.html' %}
 {% endif %}

 {% load custom_filters %}
 <!-- side nav -->

 <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

   <!-- top nav-->
    {% include 'partials/top_nav.html' %}
   <!-- top nav -->

   <div class="container-fluid py-4">

        <div class="row">
            <div class="col-12 col-lg-8 mb-4">
                <p>{% include 'partials/messages.html'%}</p>
                <h4 class=" text-center my-4">Add/Edit University Department</h4>
            </div>
        
        </div>

        <div class="row justify-content-center">
            <div class="col-8">
    
        <div class="card">

            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <!-- First Column -->
                        <div class="col-md-6">
                          
                            <div class="input-group input-group-static mb-4">
                                <label for="{{ form.name.id_for_label }}">Department Name</label>
                                {{ form.name }}
                            </div>
                            <div class="input-group input-group-static mb-4">
                                <label for="{{ form.code.id_for_label }}">Department Code</label>
                                {{ form.code }}
                            </div>
                        </div>
                
                        <!-- Second Column -->
                        <div class="col-md-6">
                            <div class="input-group input-group-static mb-4">
                                <label for="{{ form.head_of_department.id_for_label }}">Head of Department</label>
                                {{ form.head_of_department }}
                            </div>
                            <div class="input-group input-group-static mb-4">
                                <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                                {{ form.phone_number }}
                            </div>
                            <div class="input-group input-group-static mb-4">
                                <label for="{{ form.email.id_for_label }}">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="input-group input-group-static mb-4">
                                <label for="{{ form.established_date.id_for_label }}">Established Date</label>
                                {{ form.established_date }}
                            </div>
                        </div>
                    </div>
                
                    <!-- Submit Button -->
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn bg-gradient-dark btn-lg mt-4 mb-0">Create Department</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

            
            
        </div>
    </div>

     
     </div>
 </main>
 {% endblock %}

     