{% extends 'user_dashboard.html' %} {% load static %} {% block content %}

<!-- side nav -->
{% if request.user.is_authenticated and request.user.is_subscriber %}
    {% include 'partials/student_sidebar.html' %}
    {% endif %}
  
  {% if request.user.is_authenticated and request.user.is_staff %}
    {% include 'partials/admin_sidebar.html' %}
    {% endif %}
  <!-- side nav -->

<main class="main-content max-height-vh-100 h-100">
   <!-- top nav -->
   {% include 'partials/top_nav.html' %}
   <!-- top nav -->

	
    <div class="container-fluid my-3 py-3">

            <div class="col-lg-8 mt-lg-0 mt-4">
      
                 <p>
                    {% include 'partials/messages.html' %}
                  </p>

                <div class="card mt-4" id="basic-info">
                    <div class="card-header">
                        <h5>Edit Fees</h5>
                    </div>
                    <div class="card-body pt-0">

                        <form action="" method ="post">
                        {% csrf_token %}
                        <div class="row justify-content-center">

                           
                            <div class="col-5">
                                <div class="input-group input-group-static">
                                  
                                    {{form.as_p}}
                                </div>
                            </div>
                           
                        </div>
  
                        <button type="submit" class="btn bg-gradient-dark btn-lg mx-auto d-block mt-6 mb-0">Update Fees</button>
                        </form>                      
                    </div>
                </div>

                
            </div>
        </div>
       
      
    </div>
</main>

{% endblock %}
