   {% extends 'user_dashboard.html' %}
   {% load static %}
   {% block content %}
   
    <!-- side nav -->
  {% if request.user.is_authenticated and request.user.is_subscriber %}
    {% include 'partials/student_sidebar.html' %}
    {% endif %}
  
  {% if request.user.is_authenticated and request.user.is_staff %}
    {% include 'partials/admin_sidebar.html' %}
    {% endif %}

    {% load custom_filters %}
	<!-- side nav -->
  
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

	  <!-- top nav-->
	   {% include 'partials/top_nav.html' %}
	  <!-- top nav -->

      <div class="container-fluid py-4">

        <div class="row">
          <div class="col-12 col-lg-8 mb-4">
           <p>{% include 'partials/messages.html'%}</p>
         </div>
         <div class="col-sm-12">
           <div class="">
             <div class="p-3  ">
               <h3 class="d-inline text-md">List of Fees</h3>        
             </div>
           </div>
         </div>
        
       </div>
	  
        <div class="card">
	   	<div class="card-header">
			
			
		</div>
  <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-dark text-xxs font-weight-bolder">University</th>
          <th class="text-uppercase text-dark text-xxs font-weight-bolder ps-2">Fee Type</th>
          <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder">Course</th>
          <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder">Amount</th>
    
          <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if fees %}
        {% for fee in fees %}
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-xs">{{ fee.course.university }}</h6>
              </div>
            </div>
          </td>
          <td>
            <p class="text-xs font-weight-bold mb-0">{{fee.fee_type}}</p>
          </td>

          <td class="align-middle text-center text-sm">
            <span class="badge badge-sm badge-success">{{fee.course}}</span>
          </td>
          
          <td class="align-middle text-center text-sm">
            <span class="badge badge-sm badge-success">{{fee.fee_amount}}</span>
          </td>

          <td class="align-middle text-center">
            <div class="row justify-content-center">
			   <div class="col-4">
           <a href ="{%  url 'dashboard:edit_fee' fee.pk %}"> 
			     <span class="btn btn-info btn-sm">Edit</span>
           </a>
			   </div>
			    <div class="col-4">
			     <a href ="{% url 'dashboard:delete_fee' fee.pk %}"><span class="btn  btn-danger btn-sm">Delete</span>
			   </div>
			    
			
			</div>
          </td>
          
          </td>
        </tr> 
        {% endfor %}
        {% endif %}

        
      </tbody>
    </table>
  </div>
</div>

			
			
	 	<!-- footer -->
		 {% include 'partials/footer.html' %}
		<!-- footer -->
		
        </div>
    </main>
	{% endblock %}

		